// Colors..
$yellow: #FFEC00;
$black: #000000;
$blue: #64B7F6;
$cian: #1CECB7;
$red: #FF004C;

// Colors implements...
$bg_body: $yellow;
$fg_button: $yellow;
$bg_button: $red;
$fg_body: $black;
$border_color: $black;
$bg_section: $black;
$fg_title: $cian;
$fg_paragraph: $blue;